<div class="register-box center-block">
        <form>
                <p class="title">Confirm Email Address</p>
                <input type="email" placeholder="email" class="form-control">
                <button class="btn btn-custom-primary btn-lg btn-block btn-auth"><i class="fa fa-check-circle"></i> Reset Password</button>
        </form>
</div>